In [1]:
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import math as math
%config Completer.use_jedi = False

In [2]:
airTrafficDataFrame = pd.read_csv('./data files/Air_Traffic_Passenger_Statistics.csv',
                                   low_memory=False)

## Step 2: Preparation of data

### Replacement of null values

In [3]:
nullValuesOperatingCode = airTrafficDataFrame['Operating Airline IATA Code'].isnull()

In [4]:
airTrafficDataFrame.fillna(value = 'ND', inplace=True)

In [5]:
airTrafficDataFrame[nullValuesOperatingCode]

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
148,200508,Boeing Company,ND,Boeing Company,ND,Domestic,US,Deplaned,Other,Other,Other,18
5715,201103,Servisair,ND,Servisair,ND,Domestic,US,Deplaned,Low Fare,International,A,64
6073,201103,Servisair,ND,Servisair,ND,Domestic,US,Enplaned,Low Fare,International,A,64
6289,201110,Servisair,ND,Servisair,ND,Domestic,US,Enplaned,Low Fare,International,A,48
6812,201005,Servisair,ND,Servisair,ND,Domestic,US,Deplaned,Low Fare,International,G,73
...,...,...,...,...,...,...,...,...,...,...,...,...
16868,201705,Trego Dugan Aviation,ND,Trego Dugan Aviation,ND,Domestic,US,Deplaned,Low Fare,International,A,108
16869,201705,Trego Dugan Aviation,ND,Trego Dugan Aviation,ND,Domestic,US,Enplaned,Low Fare,International,A,304
17631,201710,Swissport USA,ND,Swissport USA,ND,International,Europe,Deplaned,Other,International,A,73
17632,201710,Swissport USA,ND,Swissport USA,ND,International,Europe,Enplaned,Other,International,A,73
18062,201801,Swissport USA,ND,Swissport USA,ND,Domestic,US,Deplaned,Other,International,A,98

### Optimization of memory usage

In [6]:
airTrafficDataFrame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18398 entries, 0 to 18397
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              18398 non-null  int64
 1   Operating Airline            18398 non-null  object
 2   Operating Airline IATA Code  18398 non-null  object
 3   Published Airline            18398 non-null  object
 4   Published Airline IATA Code  18398 non-null  object
 5   GEO Summary                  18398 non-null  object
 6   GEO Region                   18398 non-null  object
 7   Activity Type Code           18398 non-null  object
 8   Price Category Code          18398 non-null  object
 9   Terminal                     18398 non-null  object
 10  Boarding Area                18398 non-null  object
 11  Passenger Count              18398 non-null  int64
dtypes: int64(2), object(10)
memory usage: 11.7 MB

^^^

Memory used by this Data Frame equals **11.7 MB**.

In [7]:
columnNames = list(airTrafficDataFrame.columns)

for name in columnNames:
    if airTrafficDataFrame[name].dtypes == 'int64':
        airTrafficDataFrame[name] = airTrafficDataFrame[name].astype('int32')
    elif airTrafficDataFrame[name].dtypes == 'O':
        airTrafficDataFrame[name] = airTrafficDataFrame[name].astype('category')

In [8]:
airTrafficDataFrame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18398 entries, 0 to 18397
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              18398 non-null  int32
 1   Operating Airline            18398 non-null  category
 2   Operating Airline IATA Code  18398 non-null  category
 3   Published Airline            18398 non-null  category
 4   Published Airline IATA Code  18398 non-null  category
 5   GEO Summary                  18398 non-null  category
 6   GEO Region                   18398 non-null  category
 7   Activity Type Code           18398 non-null  category
 8   Price Category Code          18398 non-null  category
 9   Terminal                     18398 non-null  category
 10  Boarding Area                18398 non-null  category
 11  Passenger Count              18398 non-null  int32
dtypes: category(10), int32(2)
memory usage: 355.0 KB

^^^

After above data convertions memory usage has decreased to **355.0 KB**. It is ~ 3 % of original value. For larger data sets, such a conversion can make a huge difference.

## Step 3: Data filtering

### Search for potential incompatibilities

In [9]:
errorIATACode = (airTrafficDataFrame['Operating Airline IATA Code'].astype('object') == airTrafficDataFrame['Published Airline IATA Code'].astype('object'))
errorIATACode

0        True
1        True
2        True
3        True
4        True
         ...
18393    True
18394    True
18395    True
18396    True
18397    True
Length: 18398, dtype: bool

In [10]:
errorIATACode.value_counts()

True     16406
False     1992
Name: count, dtype: int64

There are 1992 rows where 'Operating Airline IATA Code' and 'Published Airline IATA Code' values differ. This also applies to analogous indexes for columns 'Operating Airline' and 'Published Airline'.

In [11]:
airTrafficDataFrame[~errorIATACode]

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
25,200507,American Eagle Airlines,MQ,American Airlines,AA,Domestic,US,Deplaned,Other,Terminal 3,E,5493
26,200507,American Eagle Airlines,MQ,American Airlines,AA,Domestic,US,Enplaned,Other,Terminal 3,E,5213
29,200507,Atlantic Southeast Airlines,EV,Delta Air Lines,DL,Domestic,US,Deplaned,Other,Terminal 1,C,1552
30,200507,Atlantic Southeast Airlines,EV,Delta Air Lines,DL,Domestic,US,Enplaned,Other,Terminal 1,C,1484
47,200507,Horizon Air,QX,Alaska Airlines,AS,Domestic,US,Deplaned,Other,Terminal 1,B,5284
...,...,...,...,...,...,...,...,...,...,...,...,...
18342,201803,SkyWest Airlines,OO,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,142492
18343,201803,SkyWest Airlines,OO,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,141611
18344,201803,SkyWest Airlines,OO,United Airlines,UA,International,Canada,Deplaned,Other,International,G,1328
18345,201803,SkyWest Airlines,OO,United Airlines,UA,International,Canada,Deplaned,Other,Terminal 3,F,4867
18346,201803,SkyWest Airlines,OO,United Airlines,UA,International,Canada,Enplaned,Other,Terminal 3,F,5952

In [12]:
errorAirlineData = (airTrafficDataFrame['Operating Airline'].astype('object') == airTrafficDataFrame['Published Airline'].astype('object'))
errorAirlineData.value_counts()

True     16406
False     1992
Name: count, dtype: int64

In [13]:
errorIATACode.compare(errorAirlineData)

Empty DataFrame
Columns: [self, other]
Index: []

^^^

Result is the same as above, so for null values present in particular rows 'Operating Airline' and 'Published Airline' values do not differ.

In [14]:
airTrafficDataFrame['Operating != Published'] = ~errorAirlineData
airTrafficDataFrame.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Operating != Published
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,False
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,False
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,False
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,False
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,False

^^^

Additional column with information about mentioned differences.

### Add column with ranking based on passenger count

In [15]:
airTrafficDataFrame['Rank by Passenger Count'] = airTrafficDataFrame['Passenger Count'].rank(ascending = False)
airTrafficDataFrame['Rank by Passenger Count'] = airTrafficDataFrame['Rank by Passenger Count'].astype('float32')
airTrafficDataFrame.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Operating != Published,Rank by Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,False,3858.0
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,False,3743.0
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,False,13754.0
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,False,3427.0
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,False,3491.0

Sort rows by created ranking

In [16]:
sortedAirTrafficDF = airTrafficDataFrame.sort_values(by = 'Rank by Passenger Count')
sortedAirTrafficDF.head(10)

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Operating != Published,Rank by Passenger Count
11331,201308,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,659837,False,1.0
11332,201308,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,629003,False,2.0
11218,201307,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,625885,False,3.0
11219,201307,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,622871,False,4.0
11565,201310,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,573619,False,5.0
11566,201310,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,558030,False,6.0
17334,201708,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,557002,False,7.0
11790,201312,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,556208,False,8.0
11789,201312,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,553433,False,9.0
11449,201309,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,548374,False,10.0

### Example filtering

Find records where passenger count rank is at most 1000 while Operating and Published Airline information differ.

In [17]:
sortedAirTrafficDF[(sortedAirTrafficDF['Rank by Passenger Count'] <= 1000.0) & (sortedAirTrafficDF['Operating != Published'])]

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Operating != Published,Rank by Passenger Count
15349,201606,SkyWest Airlines,OO,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,168207,True,536.0
15215,201605,SkyWest Airlines,OO,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,167933,True,537.0
14343,201510,SkyWest Airlines,OO,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,167699,True,538.0
15350,201606,SkyWest Airlines,OO,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,166942,True,542.0
14344,201510,SkyWest Airlines,OO,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,164943,True,551.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9362,201203,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,Domestic,US,Deplaned,Other,Terminal 3,F,134078,True,969.0
12449,201406,SkyWest Airlines,OO,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,133369,True,983.0
9363,201203,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,Domestic,US,Enplaned,Other,Terminal 3,F,132551,True,997.0
12448,201406,SkyWest Airlines,OO,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,132423,True,999.0
8448,201107,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,Domestic,US,Deplaned,Other,Terminal 3,F,132416,True,1000.0

In [18]:
airTrafficDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18398 entries, 0 to 18397
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              18398 non-null  int32
 1   Operating Airline            18398 non-null  category
 2   Operating Airline IATA Code  18398 non-null  category
 3   Published Airline            18398 non-null  category
 4   Published Airline IATA Code  18398 non-null  category
 5   GEO Summary                  18398 non-null  category
 6   GEO Region                   18398 non-null  category
 7   Activity Type Code           18398 non-null  category
 8   Price Category Code          18398 non-null  category
 9   Terminal                     18398 non-null  category
 10  Boarding Area                18398 non-null  category
 11  Passenger Count              18398 non-null  int32
 12  Operating != Published       18398 non-null  bool
 13  Rank by Passenger Count      18398 non-null  float32
dtypes: bool(1), category(10), float32(1), int32(2)
memory usage: 425.3 KB

### Optional: Export modified data frame to csv

In [19]:
# airTrafficDataFrame.to_csv('./data files/Air_Traffic_Passenger_Statistics_Modified.csv', index = False)
# sortedAirTrafficDF.to_csv('./data files/Air_Traffic_Passenger_Statistics_Sorted.csv', index = False)